body{
    text-align: center;
}

.ImagesGrid{
    display: block;
}

.ImageCard{
    display: inline-block;
    margin: 1.5ch;
    height: 100%;
}

img{
    height: 25ch;
}

.hidden{
    display: none;
}

#forceExtendPage{
    margin-top: 40ch;
}
